.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  text-align: center;
}

.mat-table {
  text-align: center;
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

.mat-row {
  height: 50px;
}

.victory {
  background-color: #3d76ef;
}

.defeat {
  background-color: #f84242;
}

.match-date {
  width: 10%;
}

.mat-header-cell {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}
