<a href="/">
  <div class="header">
    <img src="assets/header.png"/>
  </div>
</a>
<mat-tab-group>
  <mat-tab label="About">
    <app-about></app-about>
  </mat-tab>
  <mat-tab label="Inscription 2022-2023">
    <app-inscription></app-inscription>
  </mat-tab>
  <mat-tab label="Séances">
    <app-sessions></app-sessions>
  </mat-tab>
  <mat-tab label="Calendrier compétition">
    <app-sessions></app-sessions>
  </mat-tab>
  <mat-tab label="Contact">
    <app-sessions></app-sessions>
  </mat-tab>
  <mat-tab label="Le shop">
    <app-sessions></app-sessions>
  </mat-tab>
</mat-tab-group>



