<a href="/">
  <div class="header">
    <img src="assets/header.png" alt="Bannière bcvb"></img>
  </div>
</a>


<nav mat-tab-nav-bar>
  <a mat-tab-link
     routerLink="about"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Le club
  </a>
  <a mat-tab-link
     routerLink="inscriptions"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Inscriptions
  </a>
  <a mat-tab-link
     routerLink="sessions"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Séances
  </a>
  <a mat-tab-link
     routerLink="results"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Résultats/Calendriers
  </a>
  <a mat-tab-link
     routerLink="contact"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Contact
  </a>
  <a mat-tab-link
     routerLink="shop"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Le shop
  </a>
</nav>
<router-outlet></router-outlet>




